[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
dataclass-csv = "*"
pandas-dataclasses = "*"
seaborn = "*"

[dev-packages]
jupyter = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.10"
